@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container{
  height: 350px;
}

* {
  box-sizing: border-box;
}

/* h1, h2, h3, h4, h5, h6{
  font-family: 'Salsa';
} */

.hidden{
  display: none;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.centerAll{
  justify-content: center;
  align-items: center;
}

.alignCenter{
  align-items: center;
}

.spaceAround{
  justify-content: space-around;
}



