@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-routing-container{
  background-color: rgba(37, 71, 60, 0.712);
  color: white;
  font-size: 1.3em;
  border-radius: 50px;
  height: 100px;
  width: 85%;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.hidden{
  display: none;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.centerAll{
  justify-content: center;
  align-items: center;
}

.alignCenter{
  align-items: center;
}

.spaceAround{
  justify-content: space-around;
}



